<form [style]="'direction: ' + textDirection" [formGroup]="creatProjectForm" style="overflow-x: hidden;">
  <div class="main-container d-flex flex-column align-items-center">
    <div class=" page-title">
      {{ 'Project.createNewProject' | translate}}
    </div>
    <div class=" project-name-container">
      <input
        [class.placeholder-rtl]="iconRotationDegree == 180"
        dir="auto" formControlName="name" class="project-name-container"
        placeholder="{{ 'Placeholders.enterYourProjectName' | translate}}"
        [ngClass]="creatProjectForm.controls.name.errors?.required && creatProjectForm.controls.name.touched ? 'not-valid': ''"
        style="padding: 15px">
    </div>
    <div class="p-2 tab-container d-flex flex-row justify-content-between">
      <div class="p-2 tab" [ngClass]="activeTab == 'assignments' ? 'active-tab' : 'tab'"
           (click)="activeTab = 'assignments'">
        {{ 'Project.assignments' | translate}}
        <br><span *ngIf="activeTab == 'assignments'">•</span>
      </div>
      <div class="p-2 tab" [ngClass]="activeTab == 'projectDetails' ? 'active-tab' : 'tab'"
           (click)="activeTab = 'projectDetails'">
        {{ 'Project.projectDetails' | translate}}
        <br><span *ngIf="activeTab == 'projectDetails'">•</span>
      </div>
      <!--      <div class="p-2 tab" [ngClass]="activeTab == 'time' ? 'active-tab' : 'tab'" (click)="activeTab = 'time'">-->
      <!--        Time-->
      <!--        <br><span *ngIf="activeTab == 'time'">•</span>-->
      <!--      </div>-->
      <!--      <div class="p-2 tab" [ngClass]="activeTab == 'attachments' ? 'active-tab' : 'tab'"-->
      <!--           (click)="activeTab = 'attachments'">-->
      <!--        Attachments-->
      <!--        <br><span *ngIf="activeTab == 'attachments'">•</span>-->
      <!--      </div>-->
    </div>
    <div class="tab-body p-2" style="min-height: 300px">

      <div [@fadeInOut]="activeTab === 'assignments' ? 'show' : 'hide'">
        <div class="assignments-body" *ngIf="activeTab == 'assignments'">

          <div class="team-selector d-flex flex-column align-items-center">
            <div class="p-2 assignments-title">
              <div class=" d-flex flex-row align-items-center">
                <img class="p-2" src="../../../../../assets/icons/Project/Team.svg">
                <div class="p-2" style="margin-inline-start: 10px">
                  {{ 'Project.teamTitle' | translate }}
                </div>
              </div>
            </div>
            <div class="p-2 assignments-team-description">
              {{ 'Project.teamMsg' | translate}}
            </div>
            <div
              class="smooth-rectangle p-2 assignments-teams-list d-flex flex-row align-items-center justify-content-around">
              <button style="border: none"
                      (click)="openTeamPage()" mat-dialog-close
                      class="assignments-team  d-flex flex-row align-items-center justify-content-center p-2"
                      *ngIf="allTeams.length == 0">
                {{ 'Project.createNewTeam' | translate }}
              </button>
              <div
                [ngClass]="activeTeam != '' && activeTeam != allTeams[0].id && activeTeam != allTeams[1].id ? 'active-assignments-team' : 'assignments-team'"
                class="smooth-rectangle p-2 d-flex flex-row align-items-center justify-content-center"
                style="margin-inline-end: 20px"
                (click)="activeTeam != '' && activeTeam != allTeams[0].id && activeTeam != allTeams[1].id ? unselectTeam()  : openAddTeam()"
                *ngIf="allTeams.length >= 3">
                <div *ngIf="activeTeam == '' || activeTeam == allTeams[0].id || activeTeam == allTeams[1].id"
                     class="p-2">
                  {{ 'Project.selectATeam' | translate }}
                </div>
                <div *ngIf="activeTeam != '' && activeTeam != allTeams[0].id && activeTeam != allTeams[1].id"
                     class="p-2">
                  {{selectedTeamFromAddTeamComponent[0].name}}
                </div>
                <div class="p-2" style="margin-inline-start: 5px">
                  <img src="../../../../../assets/icons/Project/V.svg">
                </div>
              </div>
              <div [ngClass]="activeTeam == allTeams[0].id ? 'active-assignments-team' : 'assignments-team'"
                   [appHoverClass] [active]="activeTeam == allTeams[0].id"
                   (click)="activeTeam == allTeams[0].id ? unselectTeam() :selectTeam(allTeams[0].id)"
                   class="smooth-rectangle assignments-team  d-flex flex-row align-items-center justify-content-center p-2"
                   style="margin-inline-end: 20px" *ngIf="allTeams.length >= 1">
                {{allTeams[0].name}}
              </div>
              <div [ngClass]="activeTeam == allTeams[1].id ? 'active-assignments-team' : 'assignments-team'"
                   [appHoverClass] [active]="activeTeam == allTeams[1].id"
                   (click)="activeTeam == allTeams[1].id ? unselectTeam() : selectTeam(allTeams[1].id)"
                   class="smooth-rectangle assignments-team  d-flex flex-row align-items-center justify-content-center p-2"
                   *ngIf="allTeams.length >= 2">
                {{allTeams[1].name}}
              </div>
            </div>
          </div>

          <div class="assign-members-body d-flex flex-column">
            <div class="p-2 assignments-title d-flex flex-column align-items-center">
              <div class="p-2 d-flex flex-row align-items-center">
                <img class="p-2" src="../../../../../assets/icons/Project/Team.svg">
                <div class="p-2" style="margin-inline-start: 10px">
                  {{ 'Project.assignees' | translate }}
                </div>
              </div>
            </div>

            <div class="p-2 add-member-container d-flex flex-column" *ngIf="activeTeam == ''">
              <div class="p-2 flex-row d-flex align-items-center" style="cursor: pointer; margin-bottom: 30px"
                   (click)="openAddMember()">
                <span class="seventask-icon-add-Add-Member-New p-2"></span>
                <div class="p-2 add-member-title">
                  {{ 'Project.addMember' | translate }}
                </div>
              </div>
              <div class="members-list d-flex flex-column">

                <div class="p-2 member d-flex flex-row align-items-center" *ngFor="let member of memberList">
                  <img class="p-2" src="../../../../../assets/icons/Project/Remove-Member.svg" style="cursor: pointer"
                       (click)="removeItemFromList(memberList, member)">
                  <div class="p-2 d-flex flex-row align-items-center">
                    <div class="p-2">
                      <!--                    <div class="rounded-circle user_img">-->
                      <!--                      <img src="assets/icons/Project/User.svg">-->
                      <!--                    </div>-->
                      <div class="img_cont_msg p-2 d-flex align-items-center justify-content-center rounded-circle"
                           style="background: rgba(66,120,223,0.05); margin: 0 7px 0 7px;">
                        <img *ngIf="member.profileImageGuid != null"
                             [src]="domainName + '/en-US/File/get?id=' + member.profileImageGuid + '&quality=100'"
                             class="rounded-circle img_cont_msg">
                        <div class="seventask-theme-color"
                             *ngIf="member.profileImageGuid == null">{{member.nickName[0].toUpperCase()}}</div>
                      </div>
                    </div>
                    <div class="member-name p-2">
                      {{member.nickName}}
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="p-2 add-member-container d-flex flex-column" *ngIf="activeTeam != ''">
              <div class="p-2 flex-row d-flex align-items-center" style="cursor: pointer; margin-bottom: 30px"
                   (click)="openAddDepartment()">
                <span class="seventask-icon-add-Add-Member-New p-2"></span>
                <div class="p-2 add-member-title">
                  {{ 'Project.addDepartment' | translate }}
                </div>
              </div>
              <div class="members-list d-flex flex-column">

                <div class="p-2 member d-flex flex-row align-items-center" *ngFor="let department of teamDepartments">
                  <img class="p-2" src="../../../../../assets/icons/Project/Remove-Member.svg" style="cursor: pointer"
                       (click)="removeItemFromList(teamDepartments, department)">
                  <div class="p-2 d-flex flex-row align-items-center">
                    <div class="p-2">
                      <div class="rounded-circle user_img">
                        <img src="../../../../../assets/icons/Project/User.svg">
                      </div>
                    </div>
                    <div class="member-name p-2">
                      {{department.name}}
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!--        <div class="event-selector d-flex flex-column align-items-center">-->
          <!--          <div class="p-2 assignments-title">-->
          <!--            <div class=" d-flex flex-row align-items-center">-->
          <!--              <img class="p-2" src="assets/icons/Project/Event.svg">-->
          <!--              <div class="p-2" style="margin-left: 10px">-->
          <!--                Event-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="p-2 assignments-events-list d-flex flex-row align-items-center justify-content-around">-->
          <!--            <div class="assignments-event p-2 d-flex flex-row align-items-center" style="margin-right: 20px">-->
          <!--              <div class="p-2" style="margin: 0 10px 0 40px">-->
          <!--                Select an event-->
          <!--              </div>-->
          <!--              <div class="p-2">-->
          <!--                <img src="assets/icons/Project/V.svg">-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div [ngClass]="activeEvent == '1' ? 'active-assignments-event' : 'assignments-event'"-->
          <!--                 (click)="activeEvent = '1'"-->
          <!--                 class="assignments-event  d-flex flex-row align-items-center justify-content-center p-2"-->
          <!--                 style="margin-right: 20px">-->
          <!--              Design Present-->
          <!--            </div>-->
          <!--            <div [ngClass]="activeEvent == '2' ? 'active-assignments-event' : 'assignments-event'"-->
          <!--                 (click)="activeEvent = '2'"-->
          <!--                 class="assignments-event  d-flex flex-row align-items-center justify-content-center p-2">-->
          <!--              UX Festival-->
          <!--            </div>-->
          <!--          </div>-->
          <!--        </div>-->

        </div>
      </div>

      <div [@fadeInOut]="activeTab === 'projectDetails' ? 'show' : 'hide'">
        <div class="project-details-body" *ngIf="activeTab == 'projectDetails'">
          <div class="description-selector d-flex flex-column align-items-center">

            <div class="p-2 assignments-title">
              <div class=" d-flex flex-row align-items-center">
                <img [style]="'transform: rotate(' + iconRotationDegree + 'deg)'" class="p-2"
                     src="../../../../../assets/icons/Project/Description.svg">
                <div class="p-2" style="margin-inline-start: 10px">
                  {{ 'Project.description' | translate }}
                </div>
              </div>
            </div>
            <div class="description-container">
              <textarea class="description-container" formControlName="description" style="padding: 15px;resize: none;"
                        placeholder="{{ 'Placeholders.writeYourDescription' | translate}}"></textarea>
            </div>

          </div>

          <div class=" d-flex flex-column align-items-center">
            <!--          <div class="color-selector d-flex flex-column align-items-center">-->

            <div class="p-2 assignments-title">
              <div class=" d-flex flex-row align-items-center">
                <img class="p-2" src="../../../../../assets/icons/Project/Color.svg">
                <div class="p-2" style="margin-inline-start: 10px">
                  {{ 'Project.projectColor' | translate }}
                </div>
              </div>
            </div>

            <div class="color-container d-flex flex-row justify-content-around">
              <div class="selected-color d-flex align-items-center justify-content-center p-2 smooth-square"
                   style="margin-inline-end: 10px"
                   [ngStyle]="{'background-color': selectedColor ==  '7CAC95' ? 'rgba(124,172,149,0.1)' : 'transparent'}">
                <div class="p-2 color d-flex align-items-center justify-content-center smooth-square"
                     style="background:  #7cac95;"
                     (click)="selectedColor = '7CAC95'">
                  <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                       *ngIf="selectedColor == '7CAC95'">
                </div>
              </div>


              <div class="selected-color d-flex align-items-center justify-content-center p-2 smooth-square"
                   style="margin-inline-end: 10px"
                   [ngStyle]="{'background-color': selectedColor ==  '7CA0AC' ? 'rgba(124,160,172,0.1)' : 'transparent'}">
                <div class="p-2 color d-flex align-items-center justify-content-center smooth-square"
                     style="background:  #7CA0AC;"
                     (click)="selectedColor = '7CA0AC'">
                  <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                       *ngIf="selectedColor == '7CA0AC'">
                </div>
              </div>

              <div class="selected-color d-flex align-items-center justify-content-center p-2 smooth-square"
                   style="margin-inline-end: 10px"
                   [ngStyle]="{'background-color': selectedColor ==  '977CAC' ? 'rgba(151,124,172,0.1)' : 'transparent'}">
                <div class="p-2 color d-flex align-items-center justify-content-center smooth-square"
                     style="background:  #977CAC;"
                     (click)="selectedColor = '977CAC'">
                  <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                       *ngIf="selectedColor == '977CAC'">
                </div>
              </div>

              <div class="selected-color d-flex align-items-center justify-content-center p-2 smooth-square"
                   style="margin-inline-end: 10px"
                   [ngStyle]="{'background-color': selectedColor ==  'AC7C8D' ? 'rgba(172,124,141,0.1)' : 'transparent'}">
                <div class="p-2 color d-flex align-items-center justify-content-center smooth-square"
                     style="background:  #AC7C8D;"
                     (click)="selectedColor = 'AC7C8D'">
                  <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                       *ngIf="selectedColor == 'AC7C8D'">
                </div>
              </div>

              <div class="selected-color d-flex align-items-center justify-content-center p-2 smooth-square"
                   style="margin-inline-end: 10px"
                   [ngStyle]="{'background-color': selectedColor ==  '7C87AC' ? 'rgba(124,135,172,0.1)' : 'transparent'}">
                <div class="p-2 color d-flex align-items-center justify-content-center smooth-square"
                     style="background:  #7C87AC;"
                     (click)="selectedColor = '7C87AC'">
                  <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                       *ngIf="selectedColor == '7C87AC'">
                </div>
              </div>

              <div class="selected-color d-flex align-items-center justify-content-center p-2 smooth-square"
                   style="margin-inline-end: 10px"
                   [ngStyle]="{'background-color': selectedColor ==  'A8AC7C' ? 'rgba(168,172,124,0.1)' : 'transparent'}">
                <div class="p-2 color d-flex align-items-center justify-content-center smooth-square"
                     style="background:  #A8AC7C;"
                     (click)="selectedColor = 'A8AC7C'">
                  <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                       *ngIf="selectedColor == 'A8AC7C'">
                </div>
              </div>

              <div class="selected-color d-flex align-items-center justify-content-center p-2 smooth-square"
                   [ngStyle]="{'background-color': selectedColor ==  '74C8BE' ? 'rgba(116,200,190,0.1)' : 'transparent'}">
                <div class="p-2 color d-flex align-items-center justify-content-center smooth-square"
                     style="background:  #74C8BE;"
                     (click)="selectedColor = '74C8BE'">
                  <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                       *ngIf="selectedColor == '74C8BE'">
                </div>
              </div>

            </div>


          </div>

          <!--        <div class="uploader-container d-flex flex-column align-items-center">-->

          <!--          <div class="p-2 assignments-title">-->
          <!--            <div class=" d-flex flex-row align-items-center">-->
          <!--              <img class="p-2" src="assets/icons/Project/Logo.svg">-->
          <!--              <div class="p-2" style="margin-left: 10px">-->
          <!--                Project logo-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->

          <!--          <div class="p-2 uploader d-flex flex-column">-->
          <!--            <div class="p-2" style="margin-top: 19px">-->
          <!--              <img class="p-2" src="assets/icons/Project/upload.svg">-->
          <!--            </div>-->
          <!--            <div class="p-2" style="margin-top: 13px">-->
          <!--              Supported Formats : PNG | SVG-->
          <!--            </div>-->
          <!--            <div class="p-2">-->
          <!--              Max Size : 1 MB-->
          <!--            </div>-->

          <!--          </div>-->


          <!--        </div>-->
        </div>
      </div>

      <div class="time-body" *ngIf="activeTab == 'time'"></div>
      <div class="attachments-body" *ngIf="activeTab == 'attachments'"></div>
    </div>
    <button *ngIf="!shouldUpgradePlan && gettingTeamInfo"
            class="creat-button d-flex flex-row align-items-center justify-content-center">

      <div class="d-flex flex-row align-items-center">
        <seventask-spinner [loadingType]="1" class="loading"></seventask-spinner>
      </div>
    </button>
    <button *ngIf="!shouldUpgradePlan && !gettingTeamInfo" (click)="creatProject()"
            [ngClass]="creatProjectForm.valid ? 'creat-button-hover' : 'creat-button-off'"
            class="creat-button d-flex flex-row align-items-center justify-content-center"
            [mat-dialog-close]="!creatProjectForm.valid" type="submit"
            [disabled]="!creatProjectForm.valid"
            [ngStyle]="{'cursor': !creatProjectForm.valid ? 'not-allowed' : 'pointer' }">

      <div class="d-flex flex-row align-items-center">
        <span class="seventask-icon-add-add1" style="margin-inline-end: 10px"></span>
        <span>{{ 'Project.createProject' | translate }}</span>
      </div>
    </button>

    <button *ngIf="shouldUpgradePlan" (click)="goPro()"
            [style.background]="'#EBAA45'" [style.color]="'white'"
            class="go-pro-button d-flex flex-row align-items-center justify-content-center"
            [mat-dialog-close]="!creatProjectForm.valid" type="submit">
        <span style="opacity: 0.7;" class="go-pro-text">
          {{ 'Team.upgradeTeamPlan' | translate }}
        </span>
    </button>
  </div>
</form>
