<div class="main-container d-flex flex-column" [style.height.px]="height">
  <form [formGroup]="editForm">

    <div *ngIf="selectedTeamToInspect != null">

      <div (mouseleave)="editTitle= false" (mouseenter)="editTitle= true"
           class="item d-flex flex-column align-self-start" style="height: 125px; overflow: hidden">
        <div class="title p-2 d-flex flex-row align-items-center">
          <div class="p-2">
            <img [style]="'transform: rotate(' + iconRotationDegree + 'deg)'" class="title-label"
                 src="../../../../../assets/icons/Task/task-title.svg">
          </div>
          <div class="p-2">
            {{ 'Team.teamTitle' | translate}}
          </div>
          <!--          [@showHideButton]="editTitle && editTitleClicked === false ? 'show' : 'hide'"-->
          <div style="margin-inline-start: auto" *ngIf="editTitle && !editTitleClicked" class="smooth-square logo-container justify-content-center
            align-items-center d-flex" (click)="editTitleClicked= true;
            editForm.controls.Title.setValue(selectedTeamToInspect.name);">
            <span class="seventask-icon-edit-edit" style="font-size: 12px"></span>
          </div>

          <div style="margin-inline-start: auto" class="flex-row justify-content-center align-items-center d-flex"
               *ngIf="editTitleClicked === true">
            <div class="smooth-square logo-container d-flex justify-content-center align-items-center"
                 (click)="editTitleClicked= false" style="margin: 0 5px 0 5px">
              <span class="seventask-icon-edit-cancel-medium" style="font-size: 12px"></span>
            </div>
            <div class="smooth-square logo-container d-flex justify-content-center align-items-center"
                 (click)="modifyTitle()">
              <span class="seventask-icon-edit-tick-thick" style="font-size: 12px"></span>
            </div>
          </div>

        </div>
        <div class="content p-2">
          <div *ngIf="editTitleClicked === false">{{selectedTeamToInspect.name}}</div>
          <input [class.placeholder-rtl]="iconRotationDegree == 180"
                 autoSelect autofocus *ngIf="editTitleClicked" formControlName="Title" id="title-edit"
                 class="title-container" placeholder="{{selectedTeamToInspect.name}}">
        </div>
      </div>

      <div (mouseleave)="editDescription= false" (mouseenter)="editDescription=
        true" class="item d-flex flex-column align-self-start" style="min-height:
        20px">
        <div class="title p-2 d-flex flex-row align-items-center">
          <div class="p-2">
            <img [style]="'transform: rotate(' + iconRotationDegree + 'deg)'" class="title-label"
                 src="../../../../../assets/icons/Task/Inspector/description.svg">
          </div>
          <div class="p-2">
            {{ 'Team.description' | translate}}
          </div>
          <!--          [@showHideButton]="editDescription && editDescriptionClicked === false ? 'show' : 'hide'"-->
          <div *ngIf="editDescription && editDescriptionClicked === false" style="margin-inline-start: auto" class="logo-container smooth-square
            justify-content-center align-items-center d-flex" (click)="editDescriptionClicked= true;
            editForm.controls.Description.setValue(selectedTeamToInspect.description);">
            <span class="seventask-icon-edit-edit" style="font-size: 12px"></span>
          </div>

          <div style="margin-inline-start: auto" class="flex-row
            justify-content-center align-items-center d-flex" *ngIf="editDescriptionClicked === true">
            <div class="smooth-square logo-container d-flex justify-content-center align-items-center"
                 (click)="editDescriptionClicked= false" style="margin: 0 5px 0 5px">
              <span class="seventask-icon-edit-cancel-medium" style="font-size: 12px"></span>
            </div>
            <div class="smooth-square logo-container d-flex justify-content-center align-items-center"
                 (click)="modifyDescription()">
              <span class="seventask-icon-edit-tick-thick" style="font-size: 12px"></span>
            </div>
          </div>

        </div>
        <div class="content p-2">
          <div *ngIf="editDescriptionClicked === false">{{selectedTeamToInspect.description}}</div>
          <textarea autoSelect autofocus *ngIf="editDescriptionClicked" formControlName="Description"
                    id="description-edit" class="description-container"
                    placeholder="{{selectedTeamToInspect.description}}"></textarea>
        </div>
      </div>

      <!--      <div class="item d-flex flex-column align-self-start" style="height: 113px">-->
      <!--        <div class="title p-2 d-flex flex-row align-items-center">-->
      <!--          <div class="p-2">-->
      <!--            <img class="title-label" src="assets/icons/Team/link.svg">-->
      <!--          </div>-->
      <!--          <div class="p-2">-->
      <!--            Website Link-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="content p-2">-->
      <!--          app.seventask.com-->
      <!--        </div>-->
      <!--      </div>-->

      <div class="item d-flex flex-column align-self-start
        justify-content-center" (mouseleave)="addMemberToDepartment= false" (mouseenter)="addMemberToDepartment= true"
           style="min-height: 300px;" [class.no-item]="departments.length <= 0">
        <div class="title d-flex flex-row align-items-center">
          <div class="">
            <img class="title-label" src="../../../../../assets/icons/Project/Team-right-nav.svg">
          </div>
          <div class="" style="font-size: 13px">
            {{ 'Team.MembersOrDepartments' | translate}}
          </div>
          <!--          [@showHideButton]="addMemberToDepartment ? 'show' : 'hide'"-->
          <div *ngIf="addMemberToDepartment" style="margin-inline-start: auto" class="logo-container smooth-square
            justify-content-center align-items-center d-flex" (click)="openAddDepartment()">
            <span style="font-size: 12px" class="seventask-icon-add-add"></span>
          </div>
          <!--          <div class="p-2 ml-auto">-->
          <!--            <img class="title-label" src="assets/icons/Project/Add-right-nav.svg">-->
          <!--          </div>-->
        </div>
        <div class="content">
          <div class="d-flex flex-column" class="assign" *ngFor="let department
            of allDepartments">
            <div class="assign-title d-flex align-items-center
              justify-content-center" [style.background]="department.color ? hexToRgba('#' +
              department.color) : 'rgba(66, 120, 223, 0.05)'">
              {{department.name}}
            </div>
            <div class="assign-container">
              <div class="d-flex flex-row align-items-center" style="padding:
                5px">
                <div>
                  <div *ngFor="let user of department.users">
                    <div class="d-flex flex-row align-items-center" style="margin-bottom: 5px">
                      <div class="p-2" style="margin-inline-start:
                        10px;margin-inline-end: 10px">
                        <div class="img_cont_msg p-2 d-flex align-items-center
                          justify-content-center rounded-circle" style="background: rgba(66,120,223,0.05);">
                          <img *ngIf="user.profileImageGuid != null" [src]="domainName + '/en-US/File/get?id=' +
                            user.profileImageGuid + '&quality=100'" class="rounded-circle user_img_msg">
                          <div style="color: #1c5bff"
                               *ngIf="user.profileImageGuid == null">{{user.nickName[0].toUpperCase()}}</div>
                        </div>
                      </div>
                      <div class="p-2" style="overflow: hidden;text-overflow: ellipsis; width: 150px">
                        {{user.nickName}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item d-flex flex-column align-self-start" style="height:
        120px" (mouseleave)="editColor= false" (mouseenter)="editColor= true">
        <div class="title p-2 d-flex flex-row align-items-center">
          <div class="p-2">
            <img class="title-label" src="../../../../../assets/icons/Project/Color-right-nav.svg">
          </div>
          <div class="p-2">
            {{ 'Team.teamColor' | translate}}
          </div>
          <!--          [@showHideButton]="editColor && editColorClicked === false ? 'show' : 'hide'-->
          <div *ngIf="editColor && editColorClicked === false" style="margin-inline-start: auto" class="logo-container smooth-square
            justify-content-center align-items-center d-flex"
               (click)="editColorClicked= true; selectedColor= selectedTeamToInspect.color">
            <span class="seventask-icon-edit-edit" style="font-size: 12px"></span>
          </div>

          <div style="margin-inline-start: auto" class="flex-row
            justify-content-center align-items-center d-flex" *ngIf="editColorClicked === true">
            <div class="smooth-square logo-container d-flex justify-content-center align-items-center" (click)="editColorClicked= false; selectedColor=
              selectedTeamToInspect.color" style="margin: 0 5px 0 5px">
              <span class="seventask-icon-edit-cancel-medium" style="font-size: 12px"></span>
            </div>
            <div class="smooth-square logo-container d-flex justify-content-center align-items-center"
                 (click)="modifyColor()">
              <span class="seventask-icon-edit-tick-thick" style="font-size: 12px"></span>
            </div>
          </div>
        </div>
        <div class="content flex-row align-items-center justify-content-start
          d-flex p-2">
          <div class="circle p-2" [style.background-color]="'#'+
            selectedTeamToInspect.color" *ngIf="editColorClicked === false"></div>
          <div class="color-name" [style.color]="'#'+
            selectedTeamToInspect.color" *ngIf="editColorClicked === false">
            {{'Color.' + colorsId['#' + selectedTeamToInspect.color] | translate}}
          </div>

          <div class="circle d-flex align-items-center justify-content-center
            p-2" style="margin-inline-end: 5px; cursor: pointer" *ngIf="editColorClicked === true" [ngStyle]="{'background-color': selectedColor == '7CAC95' ?
            'rgba(124,172,149,0.1)' : 'rgba(124,172,149,1)'}">
            <div class="p-2 color d-flex align-items-center
              justify-content-center" style="background: #7CAC95;" (click)="selectedColor= '7CAC95'">
              <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                   *ngIf="selectedColor == '7CAC95'">
            </div>
          </div>


          <div class="circle d-flex align-items-center justify-content-center
            p-2" style="margin-inline-end: 5px; cursor: pointer" *ngIf="editColorClicked === true"
               (click)="selectedColor= '7CA0AC'" [ngStyle]="{'background-color': selectedColor == '7CA0AC' ?
            'rgba(124,160,172,0.1)' : 'rgba(124,160,172,1)'}">
            <div class="p-2 color d-flex align-items-center
              justify-content-center" style="background: #7CA0AC;">
              <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                   *ngIf="selectedColor == '7CA0AC'">
            </div>
          </div>

          <div class="circle d-flex align-items-center justify-content-center
            p-2" style="margin-inline-end: 5px; cursor: pointer" *ngIf="editColorClicked === true"
               (click)="selectedColor= '977CAC'" [ngStyle]="{'background-color': selectedColor == '977CAC' ?
            'rgba(151,124,172,0.1)' : 'rgba(151,124,172,1)'}">
            <div class="p-2 color d-flex align-items-center
              justify-content-center" style="background: #977CAC;">
              <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                   *ngIf="selectedColor == '977CAC'">
            </div>
          </div>

          <div class="circle d-flex align-items-center justify-content-center
            p-2" style="margin-inline-end: 5px; cursor: pointer" *ngIf="editColorClicked === true"
               (click)="selectedColor= 'AC7C8D'" [ngStyle]="{'background-color': selectedColor == 'AC7C8D' ?
            'rgba(172,124,141,0.1)' : 'rgba(172,124,141,1)'}">
            <div class="p-2 color d-flex align-items-center
              justify-content-center" style="background: #AC7C8D;">
              <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                   *ngIf="selectedColor == 'AC7C8D'">
            </div>
          </div>

          <div class="circle d-flex align-items-center justify-content-center
            p-2" style="margin-inline-end: 5px; cursor: pointer" *ngIf="editColorClicked === true"
               (click)="selectedColor= '7C87AC'" [ngStyle]="{'background-color': selectedColor == '7C87AC' ?
            'rgba(124,135,172,0.1)' : 'rgba(124,135,172,1)'}">
            <div class="p-2 color d-flex align-items-center
              justify-content-center" style="background: #7C87AC;">
              <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                   *ngIf="selectedColor == '7C87AC'">
            </div>
          </div>

          <div class="circle d-flex align-items-center justify-content-center
            p-2" style="margin-inline-end: 5px; cursor: pointer" *ngIf="editColorClicked === true"
               (click)="selectedColor= 'A8AC7C'" [ngStyle]="{'background-color': selectedColor == 'A8AC7C' ?
            'rgba(168,172,124,0.1)' : 'rgba(168,172,124,1)'}">
            <div class="p-2 color d-flex align-items-center
              justify-content-center" style="background: #A8AC7C;">
              <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                   *ngIf="selectedColor == 'A8AC7C'">
            </div>
          </div>

          <div class="circle d-flex align-items-center justify-content-center
            p-2" style="cursor: pointer" *ngIf="editColorClicked === true" (click)="selectedColor= '74C8BE'" [ngStyle]="{'background-color': selectedColor == '74C8BE' ?
            'rgba(116,200,190,0.1)' : 'rgba(116,200,190,1)'}">
            <div class="p-2 color d-flex align-items-center
              justify-content-center" style="background: #74C8BE;">
              <img class="p-2" src="../../../../../assets/icons/Project/select-color.svg"
                   *ngIf="selectedColor == '74C8BE'">
            </div>
          </div>


          <!--          <div class="p-2 event-date">-->
          <!--            &lt;!&ndash;        Dark Blue&ndash;&gt;-->
          <!--          </div>-->
        </div>
      </div>

      <!--      <div class="item d-flex flex-column align-self-start" style="height: 185px">-->
      <!--        <div class="title p-2 d-flex flex-row align-items-center">-->
      <!--          <div class="p-2">-->
      <!--            <img class="title-label" src="assets/icons/Project/Logo.svg">-->
      <!--          </div>-->
      <!--          <div class="p-2">-->
      <!--            Team Logo-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="content p-2 uploader d-flex flex-column p-2">-->
      <!--          <div class="p-2" style="margin-top: 19px">-->
      <!--            <img class="p-2" src="assets/icons/Project/upload.svg">-->
      <!--          </div>-->
      <!--          <div class="p-2" style="margin-top: 13px">-->
      <!--            Supported Formats : PNG | SVG-->
      <!--          </div>-->
      <!--          <div class="p-2">-->
      <!--            Max Size : 1 MB-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <div class="item d-flex flex-column align-self-start" style="height: 90px"
           *ngIf="myUserGUID == selectedTeamToInspect.createdBy.userId">
        <button class="export-button" type="button" (click)="openDownloadExport(selectedTeamToInspect)">
          <div class="p-2 d-flex flex-row align-items-center
                    justify-content-center">
            <div class="p-2">
              <img class="title-label"
                   src="assets/icons/upload-ex.svg">
            </div>
            <div class="p-2">
              {{ 'Team.exportTime' | translate}}
            </div>
          </div>
        </button>
      </div>

      <div class="item d-flex flex-column align-self-start" style="height: 90px">
        <button class="go-pro-button" type="button" (click)="teamGoPro()">
          <div class="p-2 d-flex flex-row align-items-center
                    justify-content-center">
            <div class="p-2">
              <img src="assets/icons/crown-solid.svg">
            </div>
            <div class="p-2">
              {{ planId === 1 ? ('Team.upgradeTeamPlan' | translate) : (('Team.currentPlan' | translate) + ': ' + ('Payment.' + planName | translate))}}
            </div>
          </div>
        </button>
      </div>

      <div class="item d-flex flex-column align-self-start" style="height: 90px"
           *ngIf="myUserGUID == selectedTeamToInspect.createdBy.userId">
        <button class="delete-button" type="button" (click)="openDeleteDialog()">
          <div class="p-2 d-flex flex-row align-items-center
                  justify-content-center">
            <div class="p-2">
              <img class="title-label"
                   src="../../../../../assets/icons/Project/deleteTask.svg">
            </div>
            <div class="p-2">
              {{ 'Team.deleteTeam' | translate}}
            </div>
          </div>
        </button>
      </div>

    </div>

    <div *ngIf="selectedTeamToInspect == null" style="opacity: 1;">
      <img src="../../../../../assets/noDataImages/click.svg" width="85%" style="margin:
        25px;">
      <div class="null-inspector">{{ 'Team.noTeamSelected' | translate}}</div>
    </div>

  </form>
</div>
