@import "variables";
.main-container {
  width: 700px;
  min-height: 500px;
  background: #F8FBFD;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-bottom: 20px;
}

.main-container .p-2 {
  padding: 0 !important;
}

.page-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 30px 0 40px 0;
  color: #2E4A77;
  opacity: 0.3;
}

.team-name-container {
  width: 640px;
  height: 49px;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #F0F4F4;
  box-sizing: border-box;
  border-radius: 10px;
}

.tab-container {
  padding: 0 30px 0 30px !important;
  margin-bottom: 28px;
}

.tab-container .p-2 {
  padding: 30px 0 28px 0 !important;
}

.tab {
  @include seventask-button-style-7;
  width: 160px;
  height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(46, 74, 119, 0.3);
  cursor: pointer;
  text-align: center;
}

.active-tab {
  width: 160px;
  height: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $theme-color;
  cursor: pointer;
  text-align: center;
}

.tab-body {
  width: 640px;
  min-height: 150px;
  background: #FFFFFF;
  border: 1px solid #F0F4F4;
  box-sizing: border-box;
  border-radius: 10px;
}

.creat-button {
  width: 179px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(46, 74, 119, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 30px;
  color: $theme-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  //cursor: pointer;
}
.creat-button-off{
  opacity: 0.5;
}
.creat-button-hover:hover {
  border: 1px solid $theme-color;
}

//.assignments-body .p-2 {
//  padding: 0 !important;
//}

.description-selector,
.color-selector,
.team-selector {
  border-bottom: 1px solid #F3F6FA;
  padding-bottom: 30px;
}

.assign-members-body {
  padding: 0 10px 0 10px !important;
}

.assignments-title {
  height: 19px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* Color one */
  color: rgba(46, 74, 119, 0.3);
  margin: 15px 0 15px 0;

}

.assignments-team-description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #2E4A77;
  opacity: 0.5;
  margin-bottom: 30px;
}

.assignments-teams-list .p-2 {
  padding: 0 !important;
}

.assignments-event,
.assignments-team {
  width: 183px;
  height: 42px;
  background: rgba(66, 120, 223, 0.05);
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #2E4A77;
  text-align: center;
  cursor: pointer;
}

.active-assignments-event,
.active-assignments-team {
  width: 183px;
  height: 42px;
  background: rgba(66, 120, 223, 1);
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.assignments-events-list,
.assignments-teams-list {
  padding: 0 20px 30px 20px;
}

.add-member-container .p-2 {
  padding: 0 !important;
}

.add-member-title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: $theme-color;
  //margin-left: 12px;
  margin-inline-start: 12px;

}
.add-member-container{
  overflow-y: auto;
  //height: 250px;
}
.member-department-container{
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 50px;
  max-height: 200px;
}
.members-list {
  //height: 120px;
  //overflow-y: auto;
}

.member {
  margin-bottom: 15px;
  //margin-left: 10px;
  margin-inline-start: 10px;
}
.department-member {
  margin-bottom: 10px;
  //margin-left: 10px;
  margin-inline-start: 10px;
}
.department-member-list{
  overflow-y: auto;
  height: 144px;
}

.member-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #A7AFBD;
}

.add-member-container.member-name .p-2 {
  padding: 0 !important;
}

.img_cont_msg {
  height: 30px;
  width: 30px;
}

.color-selector .p-2{
  padding: 0!important;
}

.description-container{
  border: none;
  width: 600px;
  height: 65px;
  outline: none;
  background: rgba(66,120,223,0.05);
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(46,74,119,0.7);
}
.color-container{

}
.color{
  min-width: 50px!important;
  min-height: 50px!important;
  border-radius: 10px;
  cursor: pointer;
}
.selected-color{
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.uploader{
  width: 600px;
  height: 106px;
  background: rgba(66,120,223,0.05);
  border: 1px solid rgba(66,120,223,0.05);
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #A7AFBD;

}
.department-container{
  width: 600px;
  height: 200px;
  background: rgba(66,120,223,0.02);
  border: 1px solid #F0F4F4;
  box-sizing: border-box;
  border-radius: 10px;
  //margin-left: 10px;
  margin-inline-start: 10px;
  margin-bottom: 30px;
}
.department-container .p-2{
  padding: 0!important;
}
.department-title{
  width: 600px;
  height: 39px;
  background: rgba(66,120,223,0.05);
  border-radius: 10px 10px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: $theme-color;
  margin-bottom: 15px;
}
.add-member-logo{
  border-top: 1px solid rgba(243,246,250,0.7);
  cursor: pointer;
}

.not-valid::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.not-valid:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.not-valid::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
