<div class="header-container d-flex flex-row-reverse align-items-center">
  <div class="new-item d-flex flex-row align-items-center justify-content-center hover-style-5 smooth-rectangle" (click)="openNewProjectDialog()">
    <div class=" new-item-add-logo">
      <img src="../../../../../assets/icons/Project/Add.svg">
    </div>
    <div class="new-item-button-title">
      {{ 'Team.newTeam' | translate }}
    </div>
  </div>
<!--  <div class="p-2 search-button d-flex flex-row align-items-center">-->
<!--    <div class="p-2">-->
<!--      <img src="assets/icons/Project/Search.svg">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="p-2">-->
<!--    <div class="p-2 filter-button d-flex flex-row align-items-center">-->
<!--      <div class="p-2">-->
<!--        <img src="assets/icons/Project/FilterOutline.svg">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!--  <div class="p-2" (click)="data.push(tempProj)">-->
  <!--    <div class="p-2 filter-button d-flex flex-row align-items-center">-->
  <!--      <div class="p-2">-->
  <!--        <img src="assets/icons/Project/FilterOutline.svg">-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

</div>
