<div class="main-container">
  <div class="new-event-title">
    {{'Calendar.NewEvent.createNewEvent' | translate}}
  </div>
  <form [formGroup]="addEventForm" (ngSubmit)="addEvent()">
    <div style="margin-top: 40px">
      <input [class.placeholder-rtl]="iconRotationDegree == 180"
             dir="auto" formControlName="Title"
             class="event-title-input"
             placeholder="{{'Calendar.NewEvent.eventTitlePlaceholder' | translate}}">

      <div class="tab-selection-container">
        <div class="p-2 d-flex flex-row justify-content-between">
          <div class="p-2 tab" [ngClass]="activeTab == 'Assignments' ? 'active-tab' : 'tab'"
               (click)="activeTab = 'Assignments'">
            {{'Calendar.NewEvent.assignments' | translate}}
            <br><span *ngIf="activeTab == 'Assignments'">•</span>
          </div>
          <div class="p-2 tab" [ngClass]="activeTab == 'Details' ? 'active-tab' : 'tab'"
               (click)="activeTab = 'Details'">
            {{'Calendar.NewEvent.details' | translate}}
            <br><span *ngIf="activeTab == 'Details'">•</span>
          </div>
          <div class="p-2 tab" [ngClass]="activeTab == 'Time' ? 'active-tab' : 'tab'"
               (click)="activeTab = 'Time'">
            {{'Calendar.NewEvent.time' | translate}}
            <br><span *ngIf="activeTab == 'Time'">•</span>
          </div>
          <div class="p-2 tab" [ngClass]="activeTab == 'Attachments' ? 'active-tab' : 'tab'"
               (click)="activeTab = 'Attachments'">
            {{'Calendar.NewEvent.attachments' | translate}}
            <br><span *ngIf="activeTab == 'Attachments'">•</span>
          </div>
        </div>
      </div>

      <div [@fadeInOut]="activeTab === 'Assignments' ? 'show' : 'hide'">
        <div class="selected-tab-container d-flex flex-column align-items-center" *ngIf="activeTab === 'Assignments'">
          <div class="tab-item title d-flex flex-column">
            <div class="d-flex flex-row align-items-center justify-content-center">
              <img src="../../../../assets/icons/Project/Team.svg" class="p-2">
              <div style="padding: 2px">
                {{'Task.team' | translate}}
              </div>
            </div>
          </div>

          <div class="tab-item title d-flex flex-column">
            <div class="d-flex flex-row align-items-center justify-content-center">
              <img src="../../../../assets/icons/Task/add-project.svg" style="opacity: 0.3" class="p-2">
              <div style="padding: 2px">
                {{'Task.project' | translate}}
              </div>
            </div>
          </div>

          <div class="title d-flex flex-column">
            <div class="d-flex flex-row align-items-center justify-content-center">
              <img src="../../../../assets/icons/Project/Team.svg" class="p-2">
              <div style="padding: 2px">
                {{'Task.assignees' | translate}}
              </div>
            </div>

            <div class="d-flex flex-row" style="margin: 10px 0; cursor: pointer;" (click)="openAddMember()">
              <span style="font-size: 18px" class="seventask-icon-add-Add-Member-New"></span>
              <div class="add-member-title">
                {{'Task.addMember' | translate}}
              </div>
            </div>

            <div class="members-list d-flex flex-column">

              <div class="d-flex flex-row align-items-center" *ngFor="let member of membersToInviteList">
                <img class="p-2" src="../../../assets/icons/Project/Remove-Member.svg" style="cursor: pointer"
                     (click)="removeItemFromList(membersToInviteList, member)">

                <div *ngIf="member.profileImageGuid == null" class="member-without-image"
                     style="background-color: #1EC1C3;margin-bottom: 0">{{member.nickName.charAt(0)}}</div>

                <img *ngIf="member.profileImageGuid != null"
                     [src]="domainName + '/en-US/File/get?id=' + member.profileImageGuid + '&quality=100'"
                     style="background-color: #86A8E7;margin-bottom: 0" class="member">


                <div class="p-2 d-flex flex-row align-items-center">
                  <div class="member-name">
                    {{member.nickName}}
                  </div>
                </div>
              </div>

            </div>

            <div class="members-list d-flex flex-column">

              <div class="d-flex flex-row align-items-center" *ngFor="let member of emailsToInviteList">
                <img class="p-2" src="../../../assets/icons/Project/Remove-Member.svg" style="cursor: pointer"
                     (click)="removeItemFromList(emailsToInviteList, member)">
                <div class="p-2 d-flex flex-row align-items-center">
                  <div class="member-name">
                    {{member}}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div [@fadeInOut]="activeTab === 'Details' ? 'show' : 'hide'">
        <div class="selected-tab-container d-flex flex-column align-items-center" *ngIf="activeTab === 'Details'">
          <div class="tab-item event-description" style="width: 100%; padding: 0 15px;">
            <div style="margin-top: 0" class="title d-flex flex-column align-items-center">
              <div class="d-flex flex-row align-items-center">
                <img [style]="'transform: rotate(' + iconRotationDegree + 'deg)'" style="opacity: 0.3;" class="p-2"
                     src="../../../assets/icons/Task/Inspector/description.svg">
                <div style="padding: 2px">
                  {{'Task.description' | translate}}
                </div>
              </div>
            </div>
            <textarea dir="auto"
                      formControlName="Description" class="event-description-input"
                      placeholder="{{'Calendar.NewEvent.eventDescriptionPlaceholder' | translate}}"></textarea>
          </div>
          <div class="event-link" style="width: 100%; padding: 0 15px;">
            <div style="margin-top: 0" class="title d-flex flex-column align-items-center">
              <div class="d-flex flex-row align-items-center">
                <img [style]="'transform: rotate(' + iconRotationDegree + 'deg)'" style="opacity: 0.3;" class="p-2"
                     src="../../../assets/icons/Team/link.svg">
                <div style="padding: 2px">
                  {{'Calendar.NewEvent.link' | translate}}
                </div>
              </div>
            </div>
            <textarea dir="auto" formControlName="Link"
                      class="event-description-input"
                      placeholder="{{'Calendar.NewEvent.linkPlaceholder' | translate}}"></textarea>
          </div>
        </div>
      </div>

      <div [@fadeInOut]="activeTab === 'Time' ? 'show' : 'hide'">
        <div class="selected-tab-container d-flex flex-column" *ngIf="activeTab === 'Time'">
          <div class="tab-item event-description" style="width: 100%; padding: 0 15px;">
            <div style="margin-top: 0" class="title d-flex flex-column align-items-center">
              <div class="d-flex flex-row align-items-center">
                <img [style]="'transform: rotate(' + iconRotationDegree + 'deg)'" style="opacity: 0.3;" class="p-2"
                     src="../../../assets/icons/Task/task-date.svg">
                <div style="padding: 2px">
                  {{'Task.time' | translate}}
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center" style="padding: 0 18px;">
              <mat-checkbox style="margin-top: 10px" color="primary" formControlName="IsAllDay"></mat-checkbox>
              <div class="is-all-day">{{ 'Calendar.NewEvent.allDay' | translate }}</div>
            </div>
            <div class="datetime-range-picker" style="padding: 5px 15px;">
              <app-date-time-picker [datePicker]="true"
                                    [timePicker]="true"
                                    [havePresets]="true"
                                    [defaultStartDate]="startingDate"
                                    [defaultEndDate]="endingDate"
                                    (selectDates)="startingDate=$event[0];endingDate=$event[1];">
              </app-date-time-picker>
            </div>
          </div>
        </div>
      </div>

      <div [@fadeInOut]="activeTab === 'Attachments' ? 'show' : 'hide'">
        <div class="selected-tab-container d-flex flex-column align-items-center" *ngIf="activeTab === 'Attachments'">
          <div style="width: 100%; padding: 15px;">
            <app-upload-file [componentId]="'fileInNewEvent'" [multiple]="true" [uploadButtonDisplay]="'none'"
                             [auto_upload_File]="true" [inputButtonDisplay]="'none'"
                             (filesInformation)="uploadFile($event)"></app-upload-file>
          </div>

          <div *ngFor="let file of attachments" class="uploaded-files">
            <div class="file-card">
              <div class="file-icon">
                <span *ngIf="file.extension === 'jpg' || file.extension === 'png' || file.extension === 'jpeg'"
                      class="seventask-icon-ImageFile"></span>
                <span *ngIf="file.extension === 'pdf'" class="seventask-icon-PDFFile"></span>
                <span *ngIf="file.extension === 'css'" class="seventask-icon-CSSFile"></span>
                <span *ngIf="file.extension === 'html'" class="seventask-icon-HTMLFile"></span>
                <span *ngIf="file.extension === 'js'" class="seventask-icon-JSFile"></span>
                <span *ngIf="file.extension === 'zip' || file.extension === 'rar' || file.extension === '7z'"
                      class="seventask-icon-ArchivedFile"></span>
              </div>
              <div class="file-details">
                <div class="file-title">{{file.name}}</div>
                <div class="file-size">{{fileService.formatBytes(file.size)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="button-container">
      <button [disabled]="addEventForm.invalid"
              [ngClass]="addEventForm.valid ? 'creat-button-hover' : 'creat-button-off'"
              [ngStyle]="{'cursor': addEventForm.invalid  ? 'not-allowed' : 'pointer', 'opacity': addEventForm.invalid  ? 0.5 : 1 }"
              class="submit-button" type="submit" mat-dialog-close="">
        <div class="submit-button-text">
          <span style="margin-inline-end: 10px;" class="seventask-icon-add-add"></span>
          {{'Calendar.NewEvent.createEvent' | translate}}
        </div>
      </button>
    </div>
  </form>
</div>
