@import "variables";

@keyframes fadeShadow {
  0% {
  }

  100% {
    box-shadow: 0px 30px 15px -18px $project-color ;
  }
}

.team-project-container {
  padding: 12px 12px 12px 0;
}

.project {
  cursor: pointer;
  transition: all 0.33s;
}

.project-header {
  /* Rectangle 57 */

  width: 340px;
  height: 41px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0px 0px;

  text-align: center;
  justify-content: center;
  padding: 5px 0 5px 0;
}

.project-header-title {
  /* Seven Task Project */
  height: 22px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  background: transparent !important;
  text-align: center;
  color: #1EC1C3;
}

.project-body {
  width: 340px;
  //height: 181px;
  height: 150px;
  background-color: #FFFFFF;
  border: 1px solid #F0F4F4;
  box-sizing: border-box;
  border-radius: 0px 0px 20px 20px;

}

.project:hover {
  //animation-name: fadeShadow;
  //animation-duration: 0.3s;
  //animation-fill-mode: forwards;
  box-shadow: 0px 30px 15px -18px $project-color ;
}

.mood {
  width: 65px !important;
  height: 28px;
  background-color: rgba(30, 193, 195, 0.1);
  border-radius: 5px;
}

.chill-logo {
  padding: 6px;
}

.chill-title {
  /* Chill */
  width: 25px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  //margin-left: 2px;
  margin-inline-start: 2px;

  /* Green */
  color: #1EC1C3;
}

.notification-row-item-title {
  height: 16px;
  width: 89px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  /* Color 3 */

  color: #A7AFBD;
}

.notification-row-item-number {
  color: $theme-color;
}

.notification-row-logo {
  margin-bottom: 12px;
}

.deadLine {
  /* Tomroow */
  height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* Color one */
  color: #2E4A77;
  opacity: 0.3;
  text-align: center;
}

.watchTimer {
  margin-inline-end: 8px;
}

.user_img_msg {
  height: 28px;
  width: 28px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  //margin-left: -10px;
  margin-inline-start: -10px;
  //padding-top: 4px;
}

.member {
  /* Ellipse 1 */

  width: 28px;
  height: 28px;
  display: inline-block;

  /* White */
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  //margin-left: -10px;
  margin-inline-start: -10px;
  padding-top: 4px;
}

.border {
  border: 2px solid #FFFFFF;
}

.mood-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}
