body{
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  padding: 20px 40px 20px 40px;
  text-align: center;
  justify-content: center;
}
.button-row{
  padding: 10px 10px 10px 10px;
}
.btn{
  margin: 0px 8px 0px 8px;
}
