<div [@fadeInOut]="!emailSent ? 'show' : 'hide'"
     [style.height.%]="!emailSent ? '100' : '0'">
  <div class="main-container">
    <div class="form-container" [style.height.px]="emailSent ? 620 : 475">
      <div class="form">
        <div class="logo-container">
          <img id="recoverIconId" src="../../../../assets/icons/refresh.svg" height="100">
        </div>
        <div class="form-title">
          {{ 'ForgetPassword.recoverPassword' | translate}}
        </div>
        <div class="login-guide">
          <div class="text"
               style=" cursor: default">{{'ForgetPassword.notRememberPassword' | translate}}</div>
          <div>{{'ForgetPassword.youCanUse'| translate}} <span class="text" style="cursor: pointer;"
                                                               routerLink="/signIn">{{'ForgetPassword.SSO'|translate}}</span>{{'ForgetPassword.insteadOf'|translate}}
          </div>
        </div>
        <form [formGroup]="forgetPasswordForm" class="login-form">
          <div class="input-row"
               [class]="(forgetPasswordForm.controls.email.errors && forgetPasswordForm.controls.email.touched) ? 'input-error' : ''">
            <div class="input-icon">
              <img src="../../../../assets/icons/account/mail.svg">
            </div>
            <input dir="auto" [class.placeholder-rtl]="textDirection === 'rtl'"
                   [attr.disabled]="(sendingEmail || emailSent) ? '' : null" type="email" inputmode="email"
                   class="user-input"
                   placeholder="{{'Placeholders.mail' | translate}}" aria-label="Mail"
                   aria-describedby="basic-addon1"
                   formControlName="email">
          </div>
          <button [disabled]="forgetPasswordForm.controls.email.invalid || sendingEmail"
                  (click)="submitForgetPasswordForm()" class="submit-login-form-button" type="submit">
            <seventask-spinner [loadingType]="1" class="loading" [color]="'white'"
                               *ngIf="sendingEmail"></seventask-spinner>
            <div *ngIf="!(emailSent || sendingEmail)"
                 class="submit-login-form-button-text">{{'ForgetPassword.sendCode' | translate}}
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div [@fadeInOut]="emailSent ? 'show' : 'hide'"
     [style.height.%]="emailSent ? '100' : '0'">
  <div class="main-container">
    <div class="form-container" [style.height.px]="emailSent ? 620 : 475">
      <div class="form">
        <div class="logo-container">
          <img src="../../../../assets/icons/refresh.svg" height="100">
        </div>
        <div class="form-title">
          {{ 'ForgetPassword.recoverPassword' | translate}}
        </div>
        <div class="login-guide">
          <div class="text"
               style="cursor: default">{{ 'ForgetPassword.notReceivedYet' | translate}}</div>
          <div [ngClass]="config.leftTime == 0 ? 'resend-email' : '' "
               (click)="resendConfirmEmail()">{{'ForgetPassword.againIn' | translate}} <span
            *ngIf="config.leftTime != 0">{{'ForgetPassword.resend' | translate}}
            <countdown [config]="config"
                       (event)="handleEvent($event)"></countdown></span></div>
        </div>
        <form [formGroup]="forgetPasswordForm" class="login-form">
          <div class="input-row"
               [class]="(forgetPasswordForm.controls.email.errors && forgetPasswordForm.controls.email.touched) ? 'input-error' : ''">
            <div class="input-icon">
              <img src="../../../../assets/icons/account/mail.svg">
            </div>
            <input dir="auto" [class.placeholder-rtl]="textDirection === 'rtl'"
                   [attr.disabled]="(sendingEmail || emailSent) ? '' : null" type="email" inputmode="email"
                   class="user-input"
                   placeholder="{{'Placeholders.mail' | translate}}" aria-label="Mail"
                   aria-describedby="basic-addon1"
                   [value]="forgetPasswordForm.controls.email.value"
                   formControlName="email">
          </div>
          <div class="input-row">
            <div class="input-icon">
              <img src="../../../../assets/icons/account/mail.svg">
            </div>
            <input dir="auto" [class.placeholder-rtl]="textDirection === 'rtl'"
                   [attr.disabled]="changePassButtonPushed ? '' : null"
                   class="user-input"
                   placeholder="{{'Placeholders.enterCode' | translate}}"
                   formControlName="validationCode">
          </div>
          <div class="input-row"
               [class]="(forgetPasswordForm.controls.newPassword.errors && forgetPasswordForm.controls.newPassword.touched) ? 'input-error' : ''">
            <div class="input-icon">
              <img src="../../../../assets/icons/account/Password.svg">
            </div>
            <input dir="auto" [class.placeholder-rtl]="textDirection === 'rtl'"
                   [attr.disabled]="changePassButtonPushed ? '' : null"
                   [type]="hide ? 'password' : 'text'"
                   class="user-input"
                   placeholder="{{'Placeholders.newPassword' | translate}}"
                   formControlName="newPassword">
          </div>
          <button [disabled]="forgetPasswordForm.invalid" (click)="changePassword()"
                  class="submit-login-form-button" type="submit">
            <seventask-spinner [loadingType]="1" class="loading" [color]="'white'"
                               *ngIf="changePassButtonPushed"></seventask-spinner>
            <div *ngIf="!changePassButtonPushed"
                 class="submit-login-form-button-text">{{'ForgetPassword.changePassword' | translate}}
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<swal
  #sweetAlert
  title="User doesn't exist"
  text="Something went wrong"
  icon="error"
  [showCancelButton]="false"
  [focusCancel]="true">
</swal>
