<div class="container col-12 mt-4 dashboard-main-wrapper">
  <div class="row-wrapper">
    <div class="col-lg-8 info-Container">
      <h1 dir="auto" style="text-align: start;">
        {{ 'Dashboard.hello' | translate }}
        {{ userNickName}}
      </h1>
      <div class="info-Box-wrapper">
        <div class="info-Box info-box-kanban" routerLink="/kanban"
          (mouseenter)="activeAnimation(0)">
          <div
            class="info-box-icon"
            [ngClass]="animationOn[0] ? 'info-box-icon-normal' :''"
            style="background-color: rgba(66, 120, 223, 0.15)">
            <img
              src="../../../assets/icons/dashboard/info-box-task.svg"
              [ngClass]="animationOn[0] ? 'info-image-down' :''" />
          </div>
          <div class="info-container">
            <h5 class="colorTask">{{ 'Dashboard.tasksNumber' | translate }}</h5>
            <h5 class="colorTask">{{ archivedTasks | numToArabic }}
              <mat-spinner *ngIf="tasksbool"
                class="mat-spinner-small mat-spinner-archivedTasks"
                strokeWidth="4" [diameter]="28">
              </mat-spinner>
            </h5>
          </div>
        </div>

        <div class="info-Box" routerLink="/project"
          routerLinkActive="selected" (mouseenter)="activeAnimation(1)">
          <div
            class="info-box-icon"
            [ngClass]="animationOn[1] ? 'info-box-icon-normal' :''"
            style="background-color: rgba(156, 39, 176, 0.15)">
            <img
              src="../../../assets/icons/dashboard/info-box-project.svg"
              [ngClass]="animationOn[1] ? 'info-image-down' :''" />
          </div>
          <div class="info-container">
            <h5 class="colorProjects">
              {{ 'Dashboard.projectsNumber' | translate }}
            </h5>
            <h5 class="colorProjects">{{ projectNum | numToArabic }}
              <mat-spinner *ngIf="projectbool"
                class="mat-spinner-small mat-spinner-Projects"
                strokeWidth="4" [diameter]="28">
              </mat-spinner>
            </h5>
          </div>
        </div>

        <div class="info-Box" routerLink="/team" routerLinkActive="selected"
          (mouseenter)="activeAnimation(2)">
          <div
            class="info-box-icon"
            [ngClass]="animationOn[2] ? 'info-box-icon-normal' :''"
            style="background-color: rgba(255, 155, 97, 0.15)">
            <img
              src="../../../assets/icons/dashboard/info-box-team.svg"
              [ngClass]="animationOn[2] ? 'info-image-down' :''" />
          </div>
          <div class="info-container">
            <h5 class="colorTeam">{{ 'Dashboard.teamsNumber' | translate }}</h5>
            <h5 class="colorTeam">{{ teamsNum | numToArabic }}
              <mat-spinner *ngIf="teamsbool"
                class="mat-spinner-small mat-spinner-Team"
                strokeWidth="4" [diameter]="28">
              </mat-spinner>
            </h5>
          </div>
        </div>

        <div class="info-Box" routerLink="/chat" routerLinkActive="selected"
          (mouseenter)="activeAnimation(3)">
          <div
            class="info-box-icon"
            [ngClass]="animationOn[3] ? 'info-box-icon-normal' :''"
            style="background-color: rgba(158,246,248,0.15)">
            <img
              src="../../../assets/icons/dashboard/chat.svg"
              [ngClass]="animationOn[3] ? 'info-image-down' :''"
              />
          </div>
          <div class="info-container">
            <h5 class="colorchat">{{ 'Dashboard.chatNumber' | translate }}</h5>
            <h5 class="colorchat">{{chatNum | numToArabic}}
              <mat-spinner *ngIf="chatbool"
                class="mat-spinner-small mat-spinner-chat"
                strokeWidth="4" [diameter]="28">
              </mat-spinner>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 calendar-Box">
      <div class="calendar-Box-inset col">
        <app-tiny-calendar [showSecondCalendarData]="true"
        [headerOn]="true"></app-tiny-calendar>
      </div>
    </div>
  </div>



  <div class="col-lg-12 col-2-1 p-0 m-0" style="height: 400px; padding: 5px 0 !important;">
    <div class="urgent-Task-box">
      <div class="urgent-Task-box-title">
        <h2 class="box-title-dashboard">
          {{ 'Dashboard.urgentTaskBox' | translate }}
        </h2>
      </div>
      <!--No data urgent begin-->
      <mat-spinner *ngIf="Urgentbool"
        class="mat-spinner-small mat-spinner-urgent"
        strokeWidth="6" [diameter]="60">
      </mat-spinner>
      <div class="urgent-no-data" *ngIf="UrgentNoData && !Urgentbool">
        <img src="../../../assets/icons/dashboard/no-urgent.svg" />
      </div>
      <div class="urgent-no-data-text" *ngIf="UrgentNoData && !Urgentbool">
        <h3>{{ 'Dashboard.noUrgent' | translate }}</h3>
      </div>
      <!--No data urgent end-->
      <div class="urgent-Task-box-content" *ngIf="!UrgentNoData">
        <div class="box-repeat" *ngFor="let urgent of UrgentTasks;
          let index= index;">
          <h3 class="header-box-repeat" dir="auto">
            {{ urgent.title | sliceTextForWidth : 60}}
          </h3>
          <h6 class="urgent-Task-time">{{ urgent.createdOn | date:
            'shortDate' | TimedifferenceCalc
            }}</h6>
          <div class="urgent-Task-label-container">
            <div class="urgent-Task-label">
              <div *ngIf="urgent.priorityId == 5"
                [class]="urgent.priorityId === 5 ?
                'label-high':(urgent.priorityId
                === 3 ? 'label-medium' : 'label-low')">
                <img style="margin-inline-end: 5px"
                  src="../../../assets/icons/Task/label-high.svg">
                {{urgent.priorityTitle}}
              </div>
              <div *ngIf="urgent.priorityId == 3"
                [class]="urgent.priorityId === 5 ?
                'label-high':(urgent.priorityId
                === 3 ? 'label-medium' : 'label-low')">
                <img style="margin-inline-end: 5px"
                  src="../../../assets/icons/Task/label-medium.svg">
                {{urgent.priorityTitle}}
              </div>
              <div *ngIf="urgent.priorityId == 1"
                [class]="urgent.priorityId === 5 ?
                'label-high':(urgent.priorityId
                === 3 ? 'label-medium' : 'label-low')">
                <img style="margin-inline-end: 5px"
                  src="../../../assets/icons/Task/label-low.svg">
                {{urgent.priorityTitle}}
              </div>
              <div class="in-progress-label">
                <img style="margin-inline-end: 5px"
                  src="../../../assets/icons/dashboard/in-progress-label.svg">
                <p>{{urgent.statusTitle}}</p>
              </div>
            </div>

            <div class="task-row-users">
              <div *ngFor="let user of urgent.usersAssignedTo"
                style="text-align:
                center; padding-inline-start: 20px">
                <span #tooltip="matTooltip"
                  [matTooltip]="user.nickName"
                  [matTooltipPosition]="'below'"
                  matTooltipHideDelay="100"
                  *ngIf="user.profileImageGuid
                  ==
                  null"
                  style="background-color: #86A8E7"
                  class="member-without-image">{{user.nickName.charAt(0)}}</span>
                <img #tooltip="matTooltip"
                  [matTooltip]="user.nickName"
                  [matTooltipPosition]="'below'"
                  matTooltipHideDelay="100"
                  *ngIf="user.profileImageGuid
                  !=
                  null"
                  [src]="domainName + '/en-US/File/get?id=' +
                  user.profileImageGuid + '&quality=100'"
                  style="background-color: #86A8E7" class="member">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="priority-box">
      <h2 class="box-title-dashboard">{{ 'Dashboard.priorityChartBox'
        |
        translate }}</h2>
      <div>
        <!--Priority Cart Begin-->
        <div class="priority-box-wrapper">

          <div
            class="low-priority-box"
            #tooltip="matTooltip"
            [matTooltip]="'Low Task Number: ' + numOfLow"
            [matTooltipPosition]="'above'"
            matTooltipClass="tooltip-low"
            matTooltipHideDelay="100">
          </div>

          <div class="low-priority-box-shadow"
            [style.clipPath]="pathClipLow">
          </div>
          <div class="priority-box-level2">

            <div class="m-priority-box"
              #tooltip="matTooltip"
              [matTooltip]="'Medium Task Number: ' +numOfMedium"
              [matTooltipPosition]="'above'"
              matTooltipHideDelay="100">
            </div>
            <div class="m-priority-box-shadow"
              [style.clipPath]="pathClipMedium">
            </div>
            <div class="priority-box-level3">

              <div class="h-priority-box"
                #tooltip="matTooltip"
                [matTooltip]="'High Task Number: ' + numOfHigh"
                [matTooltipPosition]="'above'"
                matTooltipHideDelay="100"
                matTooltipClass="tooltip-high">
              </div>
              <div class="h-priority-box-shadow"
                [style.clipPath]="pathClipHigh">
              </div>
              <div class="priority-box-level4">
              </div>
            </div>
          </div>
        </div>
        <!--Priority Cart End-->
      </div>
      <div class="chartGuide">
        <div>
          <div class="chartGuideColor" style="background-color:
            #F86F8C;">
          </div>{{'Task.high' | translate}}</div>
        <div>
          <div class="chartGuideColor" style="background-color:
            #EBAA45;">
          </div>{{'Task.medium' | translate}}</div>
        <div>
          <div class="chartGuideColor" style="background-color:
            #1EC1C3;">
          </div>{{'Task.low' | translate}}</div>
      </div>
    </div>


    <div class="Meetings-box">
      <div class="urgent-Task-box-title">
        <h2 class="box-title-dashboard">
          {{ 'Dashboard.eventsBox' | translate }}
        </h2>
      </div>
      <!--No data urgent begin-->
      <mat-spinner *ngIf="!gotEvents"
        class="mat-spinner-small mat-spinner-archivedTasks"
        strokeWidth="6" [diameter]="60">
      </mat-spinner>
      <div class="meeting-no-data" *ngIf="noEvents && gotEvents">
        <img src="../../../assets/icons/dashboard/no-meeting.svg" />
      </div>
      <div class="meeting-no-data-text" *ngIf="noEvents && gotEvents">
        <h3>{{ 'Dashboard.noEvents' | translate }}</h3>
      </div>
      <!--No data urgent end-->
      <div class="urgent-Task-box-content" *ngIf="!noEvents">
        <div class="event-box" *ngFor="let event of monthEvents;" [style.background-color]="event.color ? hexToRgbA(event.color, 0.1) : ''">
          <h3 class="header-box-repeat" dir="auto">
            <span class="event-type-icon" [className]="event.color ? 'seventask-icon-pages-my-calender-free-color' : 'seventask-icon-pages-my-calender'" [style.color]="event.color"></span>
            {{ event.title | sliceTextForWidth : 60}}
          </h3>
          <h6 dir="auto" class="urgent-Task-time">{{ event.description ? event.description : ('Dashboard.noDescription' | translate) }}</h6>
          <div class="urgent-Task-label-container">
            <div class="event-date">
              <div class="time-label" [style.color]="event.color"
                   [style.background-color]="event.color ? hexToRgbA(event.color, 0.2) : ''">
                {{ event.startTime | seventaskDatePipe: 'MMMM D, YYYY HH:mm' | async }}
              </div>
              &nbsp;-&nbsp;
              <div class="time-label" [style.color]="event.color"
                   [style.background-color]="event.color ? hexToRgbA(event.color, 0.2) : ''">
                {{ event.endTime | seventaskDatePipe: 'MMMM D, YYYY HH:mm' | async }}
              </div>
            </div>
            
            <div class="task-row-users">
              <div *ngFor="let user of event.users"
                style="text-align:
                center; padding-inline-start: 20px">
                <span #tooltip="matTooltip"
                  [matTooltip]="user.nickName"
                  [matTooltipPosition]="'below'"
                  matTooltipHideDelay="100"
                  *ngIf="user.profileImageGuid
                  ==
                  null"
                  style="background-color: #86A8E7"
                  class="member-without-image">{{user.nickName.charAt(0)}}</span>
                <img #tooltip="matTooltip"
                  [matTooltip]="user.nickName"
                  [matTooltipPosition]="'below'"
                  matTooltipHideDelay="100"
                  *ngIf="user.profileImageGuid
                  !=
                  null"
                  [src]="domainName + '/en-US/File/get?id=' +
                  user.profileImageGuid + '&quality=100'"
                  style="background-color: #86A8E7" class="member">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--
  <div class="row">
    <div class="col p-0"><div class="bar-chart">
        <h2 class="box-title-dashboard">{{ 'Dashboard.barChartBox' |
          translate
          }}</h2>
      </div>
    </div>
  </div>
  -->
</div>
